* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}

html, body {
    background-color: transparent !important;

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px; 
}

::-webkit-scrollbar-track {
    background-color: wheat; 
}

nav {
    height: 80px;
    background: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #fff;
}

.title {
    background: #ffffff;
}

.title-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: 2px solid black; 
    color: black;
    background: wheat;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s ease; 
}

button:hover {
    background: none; 
    color: black; 
}

.about-me {
    background: wheat; /*update this when done, maybe wheat?*/
    padding: 3rem calc((100vw - 1300px) / 2);
}

.about-me-container {
    text-align: center;
}

.about-me h2 {
    font-size: 3rem; 
    margin-bottom: 1rem;
}

.about-me p {
    font-size: 1.5rem; 
    line-height: 1.5;
    color: #000000; 
}


.arrow-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 3s infinite;
}

.arrow-down span {
    display: block;
    width: 24px;
    height: 24px;
    border: solid rgb(0, 0, 0);
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    margin: 0 auto;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
}
    70%{
        transform: translateY(-20px);
    }
}    

.about-me-container {
    text-align: center;
}


.about-me h3{
    font-size: 1rem;
    margin-bottom: 5rem;
}

.about-me p {
    font-size: 1.2rem; 
    line-height: 1.5;
    color: #000000;
    margin-bottom: 2rem;
}

.projects{
    background:rgb(146, 146, 146);
    padding: 3rem calc((100vw - 1300px) / 2);
}

.projects-container{
    text-align:center;
}